%h1 Find My Race Day Photos

.tabs
  %li.photographer
    =link_to "Photographer", "", {class:"photographer_nav"}
  %li.athlete
    =link_to "Athlete", "", {class:"athlete_nav"}
    
.photographer.view
  %strong Are you a Photographer?
  .photos
    = render 'photos/form', photo: @photo
    %button.nextBtn{id: "nextBtn"} Next

.athlete.view
  %strong Are you the Athlete?
  .coming-soon
    Coming Soon you will be able to search for photos of you at particular events we have photos for.
