// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$active-color: lightgrey;

.tabs li {
  width: 200px;
  display: inline-block;
}

.tabs li.active {
  font-weight: bold;
  background-color: $active-color;
}

.athlete {
  display: none;
}

.photographer-nav {
  display: none;
}

.athlete.active, .photographer.active {
  background-color: $active-color;
}
