// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$active-color: lightgrey;

ul.nav li {
  display: inline;
}
ul.nav li a {
  padding: 10px 15px 10px;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  float:right;
}

a {
  color: #000;
  &:visited {
    color: #000;
  }
  &:hover {
    color: #666;
  }
}

.tabs li {
  width: 200px;
  display: inline-block;
}

.tabs li.active {
  font-weight: bold;
  background-color: $active-color;
}

.athlete {
  display: none;
}

.photographer-nav {
  display: none;
}

.athlete.active, .photographer.active {
  background-color: $active-color;
}


.nextBtn {
  display: none;
}